body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/*Styles for tabs.*/
ul#tabs { 
    list-style-type: none; 
    margin: 30px 0 0 0; 
    padding: 0 0 0.3em 0; 
}

ul#tabs li { 
    display: inline; 

}

ul#tabs li a { 
    color: #ffffff;
    /*color: #42454a;*/
    background-color: #ba5816; 
    /*background-color: #dedbde;*/ 
    border: 1px solid #c9c3ba; 
    border-bottom: none; 
    padding: 0.3em; 
    text-decoration: none; 
}

ul#tabs li a:hover { 
    background-color: #FF4500;
    /*background-color: #f1f0ee;*/ 
}

ul#tabs li a.selected { 
    /*color: #000;*/ 
    background-color: #ba5816;
    /*background-color: #f1f0ee;*/ 
    font-weight: bold; 
    padding: 0.7em 0.3em 0.38em 0.3em; 
}

div.tabContent { 
    border: 1px solid #c9c3ba; 
    padding: 0.5em; 
    background-color: #4e5d6c;
}

div.tabContent.hide {
    display: none; 
}

.Logo {
    width:4em;
    height:4em;
}

form.form-search {
    width: 100%;
}

h2 {
    text-indent: -4em;
    padding-top: 0.5em;
    padding-bottom: 1.5em;
}