@{
    ViewBag.Title = "Um okkur";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="/Scripts/tabScript.js"></script>
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css">

<h2>@ViewBag.Title</h2>


<div class="tabContent">
    <p>www.Tyding.is er vefsíða þar sem notendur geta deilt þýðingum á skjátextum fyrir mismunandi þætti og bíómyndir. Tilgangur síðunnar er að brúa bilið á milli aukinnar eftirspurnar á niðurhöluðu efni og skorts á gæða þýðingum, sérstaklega þegar um er að ræða tungumál sem fáir tala eins og íslensku.</p>
</div>


<p>Sími: 555-1234</p>
<p>Heimilisfang: Smáralundur 1</p>
<p>Netfang: tyding@tyding.is</p><br />

<li class="list-group-item">
    @using (Html.BeginForm())
    {
        <div class="form-horizontal">
            <p>Nafn:</p>
            <label class="sr-only" for="contactName">Comment</label>
            <textarea class="form-control" rows="1" id="contactName" name="contactName"></textarea> <br />

            <p>Netfang:</p>
            <label class="sr-only" for="contactEmail">Comment</label>
            <textarea class="form-control" rows="1" id="contactEmail" name="contactEmail"></textarea> <br />

            <p>Skilaboð:</p>
            <label class="sr-only" for="contactMessage">Comment</label>
            <textarea class="form-control" rows="8" id="contactMessage" name="contactMessage"></textarea> <br />

            <button type="submit" class="btn btn-primary">Senda</button>
        </div>
        @Html.ValidationSummary(false)
    }
</li>