
@{
    ViewBag.Title = "Um okkur";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="/Scripts/tabScript.js"></script>
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css">

<h2>@ViewBag.Title</h2>


<div class="jumbotron">

</div>