
@{
    ViewBag.Title = "Um okkur";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="/Scripts/tabScript.js"></script>
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css">

<h2>@ViewBag.Title</h2>


<div class="jumbotron">
    <p>tittietwister</p>
</div>


<p>Sími: 555-1234</p>
<p>Heimilisfang: Smáralundur 1</p>
<p>Netfang: texti@texti.is</p>
<form action="test.php" method="post">
    <fieldset class="AboutContactFieldset">
        <legend>Hafa samband:</legend>
        Nafn: <input type="text" size="60"><br>
        Netfang: <input type="text" size="60"><br>
        Fyrirspurn: <input type="text" size="60">
        
    </fieldset>
    <input type="submit" value="Senda" size="25" />
</form>