@{
    ViewBag.Title = "Bæta við skjátexta";
}

<h2>@ViewBag.Title</h2>


<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css">

<script type="text/javascript" src="/Scripts/tabScript.js"></script>
<script src="../../Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>
<script src="../../Scripts/jquery.validate.min.js" type="text/javascript"></script>
<script src="../../Scripts/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
<script src="../../Scripts/UploadSrt.js"></script>

<h3 style="color:green">@ViewBag.Message</h3>
@using (Html.BeginForm("AddSubtitle", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary();
    
    <div class="jumbotron">
    <form class="form-search">
        <input type="text" class="input-medium-search-query">
        <button type="submit" class="btn-primary">Leita</button>
    </form>
    </div>
    
    <!-- ÞETTA VIRKAR EKKI, "AN EXPRESSION TREE MAY NOT CONTAIN A DYNAMIC OPERATION, ÉG ER LOST." HINSVEGAR VIRKAR
        AÐ SETJA INN SRT SKRÁ, VEIT EKKI HVERT HÚN FER EN HÚN SUBMITTAR && ÞAÐ MÁ EINGÖNGU VERA SRT ;)

        PASSA AÐ TAKA UT BIL A MILLI @ OG HTML TIL ÞESS AÐ ÞAÐ KOMI EKKI SYNTAX ERROR.
    <div class="form-group">
            @ Html.LabelFor(model => model.name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @ Html.EditorFor(model => model.name)
                @ Html.ValidationMessageFor(model => model.name)
            </div>
        </div>

        <div class="form-group">
            @ Html.LabelFor(model => model.category, new { @class = "control-label col-md-2" })

            <select class="form-control input-sm">
                <option value="Kvikmyndir">--Velja tegund--</option>
                <option value="Kvikmyndir">Barnaefni</option>
                <option value="Kvikmyndir">Drama</option>
                <option value="Kvikmyndir">Gamanmyndir</option>
                <option value="Kvikmyndir">Hryllingsmyndir</option>
                <option value="Kvikmyndir">Rómantík</option>
                <option value="Kvikmyndir">Spennumyndir</option>
                <option value="Kvikmyndir">Þættir</option>
                <option value="Kvikmyndir">Ævintýramyndir</option>
            </select>
        </div>

        <div class="form-group">
            @ Html.LabelFor(model => model.description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @ Html.EditorFor(model => model.description)
                @ Html.ValidationMessageFor(model => model.description)
            </div>
        </div>
        -->
    
        
        <!-- File Upload thing starts here-->
        <fieldset>
        <ol>
            <li class="lifile">
                <input type="file" id="fileToUpload" name="file" />
                <span class="field-validation-error" id="spanfile"></span>
            </li>
        </ol>
        <input type="submit" id="btnSubmit" value="Upphlaða" />
    </fieldset>
}