@model WikiApp.Models.SubtitleFile

@{
    ViewBag.Title = "Bæta við skjátexta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title</h2>

<script type="text/javascript" src="/Scripts/tabScript.js"></script>
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css">

<div class="jumbotron">
    <form class="form-search">
        <input type="text" class="input-medium-search-query">
        <button type="submit" class="btn-primary">Leita</button>
    </form>
</div>


<form method="POST" name="AddSubtitlePhp"
      enctype="multipart/form-data"
      onsubmit="return validateForm()">
    <p>
        <label for='name'>Nafn: </label><br>
        <input type="text">
    </p>
    <p>
        <label for='message'>Lýsing(valkostur):</label> <br>
        <textarea name="message"></textarea>
    </p>
    <p>
        <label for="inputFlokkur">Flokkur</label>
        
        <select class="form-control input-sm">
            <option value="Kvikmyndir">--Velja tegund--</option>
            <option value="Kvikmyndir">Barnaefni</option>
            <option value="Kvikmyndir">Drama</option>
            <option value="Kvikmyndir">Gamanmyndir</option>
            <option value="Kvikmyndir">Hryllingsmyndir</option>
            <option value="Kvikmyndir">Rómantík</option>
            <option value="Kvikmyndir">Spennumyndir</option>
            <option value="Kvikmyndir">Þættir</option>
            <option value="Kvikmyndir">Ævintýramyndir</option>
        </select>
        
    </p>
    <p>
        <label for='uploaded_file'>Veldu skrá til að uphala:</label> <br>
        <input type="file" name="uploaded_file">
    </p>
    <input type="submit" value="Submit" name='submit'>
</form>
