@{
    ViewBag.Title = "Bæta við skjátexta";
}

<script type="text/javascript" src="/Scripts/tabScript.js"></script>
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css">

<div class="jumbotron">
    <p>Athuga hvort að texti sé til</p>
    <form class="form-search">
        <input type="text" class="input-medium search-query">
        <button type="submit" class="btn">Leita</button>
    </form>
</div>

<form class="form-horizontal" role="form">
    <div class="form-group">
        <label for="inputNafnSkjals" class="col-sm-2 control-label">Nafn skjals</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="inputNafnSkjals">
        </div>
    </div>
</form>


<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

    <label for="inputEmail3" class="col-sm-2 control-label">Flokkur</label>
    <select class="form-control input-sm">Kvikmynd</select>
