@{
    ViewBag.Title = "Bæta við skjátexta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title</h2>

<script type="text/javascript" src="/Scripts/tabScript.js"></script>
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css">

<div class="jumbotron">
    <form class="form-search">
        <input type="text" class="input-medium search-query">
        <button type="submit" class="btn-primary">Leita</button>
    </form>
</div>

<form class="form-horizontal" role="form">
    <div class="form-group">
        <label for="inputNafnSkjals" class="col-sm-2 control-label">Nafn skjals</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="inputNafnSkjals">
        </div>
    </div>
</form>


    <label for="inputEmail3" class="col-sm-2 control-label">Flokkur</label>
    <select class="form-control input-sm">Kvikmynd</select>


<form method="POST" name="email_form_with_php"
      enctype="multipart/form-data"
      onsubmit="return validateForm()">
    <p>
        <label for='name'>Name: </label><br>
        <input type="text" name="name">
    </p>
    <p>
        <label for='message'>Message:</label> <br>
        <textarea name="message"></textarea>
    </p>
    <p>
        <label for='uploaded_file'>Select A File To Upload:</label> <br>
        <input type="file" name="uploaded_file">
    </p>
    <input type="submit" value="Submit" name='submit'>
</form>