@{
    ViewBag.Title = "Allir skjátextar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title</h2>

<script type="text/javascript" src="/Scripts/tabScript.js"></script>
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css">


<div class="jumbotron">
    <form class="form-search">
        <input type="text" class="input-medium-search-query">
        <button type="submit" class="btn-primary">Leita</button>
    </form>
</div>

<h3>@ViewBag.Message</h3>

<div class="row">
    <div class="col-lg-12">
        <ul id="tabs">
            @for(char i = 'A'; i <= 'Z'; i++)
            {
                <li><a href=#@i>@i</a></li>
            }
        </ul>

       

        <div class="tabContent" id="A">
            <h3>Titlar sem byrja a: A</h3>
            <p>Anaconda</p>
            <p>Another Teen movie</p>
          <!-- <table>
               <tr>
                    <th>Nafn</th>
                   <th>Likes</th>
                   <th>Flokkur</th>
                   <th>Sótt</th>
                   <th>Sett inn</th>
               </tr>
               <tr>
                   <td>Anaconda</td>
                   <td>223</td>
                   <td>Hasar</td>
                   <td>10</td>
                   <td></td>
               </tr>
           </table>-->
        </div>

        <div class="tabContent" id="B">
            <h3>Titlar sem byrja a: B</h3>
            <p>Batman</p>
           
        </div>

        <div class="tabContent" id="D">
            <h3>Titlar sem byrja a: H</h3>
            <p>Herdís hin Hræðilega</p>
            <p>Herdís segir brandara</p>

        </div>
    </div>
</div>




