
@{
    ViewBag.Title = "Requests";
}

<h2>Requests</h2>

<script type="text/javascript" src="/Scripts/tabScript.js"></script>
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css">

