
@{
    ViewBag.Title = "Requests";
}

<h2>Requests</h2>

<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css">

<div class="row">
    <div class="col-lg-12">
        <ul id="tabs">
            @for (char i = 'A'; i <= 'Z'; i++)
            {
                <li><a href=#@i>@i</a></li>
            }
        </ul>
    </div>
</div>
<form class="form-horizontal" role="form">
    <div class="form-group">
        <h2>Bæta við beiðni</h2>
        <!--Nafn skjals-->
        <label for="inputNafnSkjals" class="col-sm-2 control-label">Nafn skjals</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="inputNafnSkjals">
        </div>
        
        <!--Flokkur-->
        <label for="inputFlokkur" class="col-sm-2 control-label">Flokkur</label>
        <div class ="col-sm-10">
            <select class="form-control input-sm">Kvikmynd</select>
    
        </div>
        <label for="inputSlod" class="col-sm-2 control-label">Slóð</label>
        <div class="col-sm-10">
             <input type="email" class="form-control" id="inputSlod">
        </div>
   
        <script type="text/javascript" src="/Scripts/tabScript.js"></script>
    </div>
</form>